@font-face {
  font-family: "Trocchi", serif, Arial, Helvetica, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");
}

body {
  font-family: "Trocchi", serif;
}

main {
  min-height: calc(100vh - 600px);
  padding-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  position: relative;
}

.header-image {
  display: block;
  background-image: url("../Images/hisu-lee-FTW8ADj5igs-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  margin-top: -200px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #eee9e3;
  transition: 0.3s;
}

.welcome {
  display: flex;
  justify-content: center;
}

.latest-post {
  background-color: #eee9e3;
  height: 550px;
  position: relative;
  margin-bottom: 100px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow-x: scroll;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 35px;
}

/* Carosel */

.carousel {
  width: 100vw;
  height: 60vh;
  margin-top: 50px;
  position: relative;
  background-color: #eee9e3;
  margin-bottom: -60px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
}

.slide a > img {
  display: block;
  width: 50vw;
  height: 40vh;
  object-fit: cover;
  object-position: center;
  margin-left: 350px;
  margin-top: 80px;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0;
  z-index: 1;
}

.carousel-button {
  position: absolute;
  background: none;
  order: none;
  font-size: 4em;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.carousel-button:hover,
.carousel-button:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 2px solid;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.overskrift {
  display: flex;
  display: center;
  justify-content: center;
  margin-top: -200px;
  color: #000;
}

/* end of carousel */

.containerpost {
  cursor: pointer;
}

.readers-img {
  width: 100vw;
  height: auto;
  margin-bottom: 100px;
}

.logo-mobile {
  display: none;
}

.menu__box {
  display: none;
}
#menu__toggle {
  display: none;
}

.reviews-mobile {
  display: none;
}
/* Footer*/

.footer-mobile {
  display: none;
}

.footerbar {
  background-color: #c1e1c1;
  display: flex;
  float: right;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footerbar ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.footerbar ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.footerbar ul li a:hover {
  color: #fff;
  transition: 0.3s;
}

footer {
  height: 600px;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee9e3;
}

.logo-footer {
  width: 300px;
  height: 300px;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 200px));
  gap: 80px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-top: 50px;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  color: black;
  font-weight: bolder;
}

.rights {
  margin-left: 250px;
  margin-top: -50px;
}

.fa-arrow-right-long {
  margin-left: 100px;
}

.s-accounts {
  display: flex;
  display: inline-block;
  margin-right: 100px;
  justify-content: space-between;
}

.smedia {
  display: flex;
  align-items: center;
  margin-top: -100px;
  margin-left: -40px;
  justify-content: space-between;
}

.sub-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  margin-top: -200px;
}

.sub-footer h3 {
  margin-bottom: 30px;
}

.sub-footer p {
  margin-bottom: 30px;
  margin-right: 20px;
}

.subscribe {
  border: none;
  background: #ffdbe9;
  color: #000;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}
.subscribe:hover {
  cursor: pointer;
  transform: scale(1.3);
}
/* List of blogs site */

.navbar-three {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;

  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

#blog-posts {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 300px));
  gap: 50px;
  padding: 1em;
  width: 100vw;
  justify-content: center;
  margin-top: -25px;
}

.img-blogs {
  height: 330px;
  width: 300px;
  object-fit: cover;
  gap: 50px;
}
h2.blog-post-title {
  font-family: Arial, Helvetica, sans-serif;
}

.seeMorePosts {
  border: none;
  background: #c1e1c1;
  width: 150px;
  height: 50px;
  border: 2px solid;
  padding: 12px 30px;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
  margin-top: 370px;
  margin-bottom: 100px;
}

.seeMorePosts:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* Modals on images */
.img-modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.img-modal img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: 20px auto;
}

/* blog-post.html */
.containerpost-blogpost {
  margin-top: -200px;
  margin-bottom: -100px;
}

.blog-post-container {
  margin-bottom: 100px;
}

.containerpost-blogpost,
.title-blogpost,
.content-blogpost,
.date-blogpost {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 20px));
  gap: 70px;
  justify-content: center;
  padding: 90px;
}
.title-blogpost {
  font-size: 2em;
}

.date-blogpost {
  display: block;
  float: left;
}

.fav-img-blog {
  display: flex;
  object-fit: cover;
  width: 900px;
  height: auto;
  margin-left: 300px;
  margin-top: -200px;
  margin-bottom: 80px;
  z-index: -1;
}

.seeMorePosts1 {
  border: none;
  background: #c1e1c1;
  width: 150px;
  height: 50px;
  border: 2px solid;
  padding: 12px 30px;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  transition: 0.3s;
  margin-top: 1500px;
  margin-left: 500px;
  margin-bottom: 200px;
}

.seeMorePosts1:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* About us page  */
.welcome-inquery {
  display: none;
}

.about-info-mobile {
  display: none;
}

/* Contact page */

.header-image-contact {
  display: block;
  background-image: url("../Images/samantha-gades-x40Q9jrEVT0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar-two {
  background-image: url("../Images/samantha-gades-x40Q9jrEVT0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 270px;
  display: flex;

  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.logo-two {
  width: 250px;
  height: 250px;
  margin-top: -77px;
  margin-right: 150px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #607460;
  transition: 0.3s;
}

.button {
  border: none;
  background: #c1e1c1;
  border: 2px solid;
  padding: 12px 30px;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.fav-img {
  display: flex;
  width: 800px;
  height: auto;
  margin-left: 300px;
  margin-top: -250px;
  margin-bottom: 50px;
  z-index: -1;
}

/* Contact form */

.container-con {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

form {
  background: #ffdbe9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1vw 4vw;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
}

form h3 {
  color: #000;
  font-weight: 800;
  margin-top: 50px;
}

form input,
form textarea {
  display: flex;
  justify-content: center;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 13px;
}

form button {
  padding: 15px;
  background: #e0a4bc;
  color: #ffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.form-error {
  display: none;
  text-transform: capitalize;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
  /* Index.html mobile  */
  .header-image {
    display: block;
    background-image: url("../Images/hisu-lee-FTW8ADj5igs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .navbar {
    display: none;
  }
  .navbar li {
    display: none;
  }
  .navbar li a {
    display: none;
  }

  /* hamburger menu mobile */
  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 35px;
    left: 35px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eee9e3;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  .logo-mobile {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
  }

  .welcome {
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-top: 100px;
  }

  /* Carousel mobile */

  .carousel {
    width: 100vw;
    height: 40vh;
    margin-top: 50px;
    position: relative;
    background-color: #eee9e3;
    margin-bottom: -80px;
  }

  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
  }

  .slide a > img {
    display: block;
    width: 45vw;
    height: 15vh;
    object-fit: cover;
    object-position: center;
    margin-left: 100px;
    margin-top: 100px;
  }

  .slide[data-active] {
    opacity: 1;
    transition-delay: 0;
    z-index: 1;
  }

  .carousel-button {
    position: absolute;
    background: none;
    order: none;
    font-size: 2.5em;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .carousel-button:hover,
  .carousel-button:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .carousel-button:focus {
    outline: 2px solid;
  }

  .carousel-button.prev {
    left: 1rem;
  }

  .carousel-button.next {
    right: 1rem;
  }

  .overskrift {
    display: flex;
    display: center;
    font-size: 1.2em;
    justify-content: center;
    margin-top: -180px;
    color: #000;
  }

  .reviews-desktop {
    display: none;
  }

  .reviews-mobile {
    display: block;
    margin-top: 25px;
    font-size: 0.9em;
    margin-left: 25px;
  }

  .reviews-mobile1 {
    display: block;
    margin-top: 15px;
    font-size: 1em;
    margin-left: 75px;
    margin-bottom: 30px;
  }

  /* footer index, contact us,  */

  footer {
    display: none;
  }

  .footer-mobile {
    background-color: #eee9e3;
    display: block;
    width: 100%;
    height: 300px;
  }

  .footer-links-mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100px));
    gap: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .footer-links-mobile li {
    list-style: none;
  }

  .footer-links-mobile a {
    color: black;
    font-weight: bolder;
    font-size: 0.6em;
  }

  .rights-mobile {
    margin-left: 50px;
    margin-top: -80px;
    font-size: 0.8em;
  }

  .fa-arrow-right-long {
    margin-left: 10px;
  }

  .s-accounts-mobile {
    display: flex;
    margin-left: -50px;
    justify-content: space-between;
  }

  .smedia-mobile {
    display: flex;
    align-items: center;
    font-size: 0.5em;
    margin-top: -100px;
    justify-content: space-between;
  }

  .sub-footer-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: right;
    margin-top: -100px;
    font-size: 0.6em;
  }

  .sub-footer-mobile h3 {
    margin-bottom: 30px;
  }

  .sub-footer-mobile p {
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .subscribe-mobile {
    border: none;
    background: #ffdbe9;
    color: #000;
    padding: 8px 17px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;
  }
  .subscribe-mobile:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  .logo-footer-mobile {
    width: 260px;
    height: 270px;
    margin-top: 20px;
    margin-left: -80px;
  }

  /* contact page mobile  */
  .container-con {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    margin-bottom: 20px;
  }
  form {
    background: #ffdbe9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw 4vw;
    width: 70%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 5px;
  }

  form h3 {
    color: #000;
    font-weight: 800;
    margin-top: 50px;
  }

  form input,
  form textarea {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 13px;
  }

  form button {
    padding: 15px;
    background: #e0a4bc;
    color: #ffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
  }

  .form-error {
    display: none;
    text-transform: capitalize;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
  }

  .ul-two {
    display: none;
  }
  .li-two {
    display: none;
  }

  .welcome-inquery {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    margin-top: -80px;
    margin-bottom: 50px;
  }

  .inquery {
    display: none;
  }

  .navbar-two {
    display: block;
    background-image: url("../Images/samantha-gades-x40Q9jrEVT0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .logo-two {
    display: none;
  }

  /* About us mobile version */

  .fav-img {
    display: flex;
    width: 300px;
    height: auto;

    margin-left: 45px;
    margin-top: -250px;
    margin-bottom: 50px;
    z-index: -1;
  }

  .about-info {
    display: none;
  }

  .about-info-mobile {
    display: block;
    padding: 20px;
  }

  .button {
    border: none;
    background: #c1e1c1;
    border: 2px solid;
    padding: 12px 30px;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
  }

  .button:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  /* List of blogs page mobile version */

  #blog-posts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 300px));
    gap: 40px;
    padding: 1em;
    width: 100vw;
    justify-content: center;
    margin-top: -55px;
    padding: 20px;
  }
  .img-blogs {
    height: 100px;
    width: 150px;
    object-fit: cover;
    gap: 10px;
  }
  h2.blog-post-title {
    font-family: Arial, Helvetica, sans-serif;
  }

  .seeMorePosts {
    border: none;
    background: #c1e1c1;
    width: 150px;
    height: 50px;
    border: 2px solid;
    padding: 12px 30px;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
    margin-top: 50px;
  }

  .seeMorePosts:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  /* Blog-post page mobile version */

  .fav-img-blog {
    display: flex;
    width: 300px;
    height: auto;

    margin-left: 45px;
    margin-top: -250px;
    margin-bottom: 50px;
    z-index: -1;
  }
  .containerpost-blogpost {
    margin-top: -200px;
    margin-bottom: -100px;
  }

  .blog-post-container {
    margin-bottom: 100px;
    width: 100vh;
  }

  .img-blogpost {
    display: block;
    width: 100vh;
    height: auto;
  }

  .containerpost-blogpost,
  .title-blogpost,
  .content-blogpost,
  .date-blogpost {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 40px));
    gap: 40px;
    justify-content: center;
    padding: 90px;
  }
  .title-blogpost {
    font-size: 1.5em;
  }

  .content-blogpost {
    font-size: 0.9em;
    width: 100vw;
    height: auto;
    margin-left: -30px;
  }

  .date-blogpost {
    display: block;
    display: flex;
    float: left;
    font-size: 1em;
  }

  .seeMorePosts1 {
    border: none;
    background: #c1e1c1;
    width: 150px;
    height: 50px;
    border: 2px solid;
    padding: 12px 30px;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
    margin-top: 1100px;
    margin-left: 100px;
    margin-bottom: 200px;
  }

  .seeMorePosts1:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}
